Makefile.dvi
Makefile.gentoo
Makefile.linux
Makefile.pdf
Makefile.ubuntu
axiom.sty
books/Makefile
books/Makefile.dvi
books/Makefile.pdf
books/bookvol0.log
books/tanglec
int/
lastBuildDate
lsp/Makefile
lsp/Makefile.dvi
lsp/Makefile.pdf
lsp/axiom.sty
lsp/gcl-2.6.13pre/
lsp/gcldir
mnt/
obj/
src/Makefile
src/Makefile.dvi
src/Makefile.pdf
src/algebra/A1AGG.spad
src/algebra/ABELGRP.spad
src/algebra/ABELMON.spad
src/algebra/ABELSG.spad
src/algebra/ACF.spad
src/algebra/ACFS.spad
src/algebra/ACPLOT.spad
src/algebra/AF.spad
src/algebra/AFALGGRO.spad
src/algebra/AFALGRES.spad
src/algebra/AFFPL.spad
src/algebra/AFFPLPS.spad
src/algebra/AFFSP.spad
src/algebra/AFSPCAT.spad
src/algebra/AGG.spad
src/algebra/AHYP.spad
src/algebra/ALAGG.spad
src/algebra/ALGEBRA.spad
src/algebra/ALGFACT.spad
src/algebra/ALGFF.spad
src/algebra/ALGMANIP.spad
src/algebra/ALGMFACT.spad
src/algebra/ALGPKG.spad
src/algebra/ALGSC.spad
src/algebra/ALIST.spad
src/algebra/AMR.spad
src/algebra/AN.spad
src/algebra/ANON.spad
src/algebra/ANTISYM.spad
src/algebra/ANY.spad
src/algebra/ANY1.spad
src/algebra/API.spad
src/algebra/APPLYORE.spad
src/algebra/APPRULE.spad
src/algebra/ARR2CAT.spad
src/algebra/ARRAY1.spad
src/algebra/ARRAY12.spad
src/algebra/ARRAY2.spad
src/algebra/ASP1.spad
src/algebra/ASP10.spad
src/algebra/ASP12.spad
src/algebra/ASP19.spad
src/algebra/ASP20.spad
src/algebra/ASP24.spad
src/algebra/ASP27.spad
src/algebra/ASP28.spad
src/algebra/ASP29.spad
src/algebra/ASP30.spad
src/algebra/ASP31.spad
src/algebra/ASP33.spad
src/algebra/ASP34.spad
src/algebra/ASP35.spad
src/algebra/ASP4.spad
src/algebra/ASP41.spad
src/algebra/ASP42.spad
src/algebra/ASP49.spad
src/algebra/ASP50.spad
src/algebra/ASP55.spad
src/algebra/ASP6.spad
src/algebra/ASP7.spad
src/algebra/ASP73.spad
src/algebra/ASP74.spad
src/algebra/ASP77.spad
src/algebra/ASP78.spad
src/algebra/ASP8.spad
src/algebra/ASP80.spad
src/algebra/ASP9.spad
src/algebra/ASSOCEQ.spad
src/algebra/ASTACK.spad
src/algebra/ATADDVA.spad
src/algebra/ATAPPRO.spad
src/algebra/ATARBEX.spad
src/algebra/ATARBPR.spad
src/algebra/ATCANCL.spad
src/algebra/ATCANON.spad
src/algebra/ATCENRL.spad
src/algebra/ATCS.spad
src/algebra/ATCUNOR.spad
src/algebra/ATFINAG.spad
src/algebra/ATJACID.spad
src/algebra/ATLR.spad
src/algebra/ATLUNIT.spad
src/algebra/ATMULVA.spad
src/algebra/ATNOTHR.spad
src/algebra/ATNULSQ.spad
src/algebra/ATNZDIV.spad
src/algebra/ATPOSET.spad
src/algebra/ATRIG.spad
src/algebra/ATRUNIT.spad
src/algebra/ATSHMUT.spad
src/algebra/ATTRBUT.spad
src/algebra/ATTREG.spad
src/algebra/ATUNIKN.spad
src/algebra/AUTOMOR.spad
src/algebra/AXSERV.spad
src/algebra/BALFACT.spad
src/algebra/BASTYPE.spad
src/algebra/BBTREE.spad
src/algebra/BEZIER.spad
src/algebra/BEZOUT.spad
src/algebra/BFUNCT.spad
src/algebra/BGAGG.spad
src/algebra/BINARY.spad
src/algebra/BINFILE.spad
src/algebra/BITS.spad
src/algebra/BLAS1.spad
src/algebra/BLHN.spad
src/algebra/BLMETCT.spad
src/algebra/BLQT.spad
src/algebra/BLUPPACK.spad
src/algebra/BMODULE.spad
src/algebra/BOOLEAN.spad
src/algebra/BOP.spad
src/algebra/BOP1.spad
src/algebra/BOUNDZRO.spad
src/algebra/BPADIC.spad
src/algebra/BPADICRT.spad
src/algebra/BRAGG.spad
src/algebra/BRILL.spad
src/algebra/BSD.spad
src/algebra/BSTREE.spad
src/algebra/BTAGG.spad
src/algebra/BTCAT.spad
src/algebra/BTOURN.spad
src/algebra/BTREE.spad
src/algebra/CABMON.spad
src/algebra/CACHSET.spad
src/algebra/CAD.spad
src/algebra/CADU.spad
src/algebra/CARD.spad
src/algebra/CARTEN.spad
src/algebra/CARTEN2.spad
src/algebra/CCLASS.spad
src/algebra/CDEN.spad
src/algebra/CDFMAT.spad
src/algebra/CDFVEC.spad
src/algebra/CELL.spad
src/algebra/CFCAT.spad
src/algebra/CHAR.spad
src/algebra/CHARNZ.spad
src/algebra/CHARPOL.spad
src/algebra/CHARZ.spad
src/algebra/CHVAR.spad
src/algebra/CINTSLPE.spad
src/algebra/CLAGG.spad
src/algebra/CLIF.spad
src/algebra/CLIP.spad
src/algebra/CMPLXRT.spad
src/algebra/COLOR.spad
src/algebra/COMBF.spad
src/algebra/COMBINAT.spad
src/algebra/COMBOPC.spad
src/algebra/COMM.spad
src/algebra/COMMONOP.spad
src/algebra/COMMUPC.spad
src/algebra/COMPAR.spad
src/algebra/COMPCAT.spad
src/algebra/COMPFACT.spad
src/algebra/COMPLEX.spad
src/algebra/COMPLEX2.spad
src/algebra/COMPLPAT.spad
src/algebra/COMPPROP.spad
src/algebra/COMRING.spad
src/algebra/CONTFRAC.spad
src/algebra/COORDSYS.spad
src/algebra/CPIMA.spad
src/algebra/CPMATCH.spad
src/algebra/CRAPACK.spad
src/algebra/CRFP.spad
src/algebra/CSTTOOLS.spad
src/algebra/CTRIGMNP.spad
src/algebra/CVMP.spad
src/algebra/CYCLES.spad
src/algebra/CYCLOTOM.spad
src/algebra/D01AGNT.spad
src/algebra/D01AJFA.spad
src/algebra/D01AKFA.spad
src/algebra/D01ALFA.spad
src/algebra/D01AMFA.spad
src/algebra/D01ANFA.spad
src/algebra/D01APFA.spad
src/algebra/D01AQFA.spad
src/algebra/D01ASFA.spad
src/algebra/D01FCFA.spad
src/algebra/D01GBFA.spad
src/algebra/D01TRNS.spad
src/algebra/D01WGTS.spad
src/algebra/D02AGNT.spad
src/algebra/D02BBFA.spad
src/algebra/D02BHFA.spad
src/algebra/D02CJFA.spad
src/algebra/D02EJFA.spad
src/algebra/D03AGNT.spad
src/algebra/D03EEFA.spad
src/algebra/D03FAFA.spad
src/algebra/DBASE.spad
src/algebra/DBLRESP.spad
src/algebra/DDFACT.spad
src/algebra/DECIMAL.spad
src/algebra/DEFINTEF.spad
src/algebra/DEFINTRF.spad
src/algebra/DEGRED.spad
src/algebra/DEQUEUE.spad
src/algebra/DERHAM.spad
src/algebra/DFINTTLS.spad
src/algebra/DFLOAT.spad
src/algebra/DFMAT.spad
src/algebra/DFSFUN.spad
src/algebra/DFVEC.spad
src/algebra/DHMATRIX.spad
src/algebra/DIAGG.spad
src/algebra/DIFEXT.spad
src/algebra/DIFRING.spad
src/algebra/DIOPS.spad
src/algebra/DIOSP.spad
src/algebra/DIRPCAT.spad
src/algebra/DIRPROD.spad
src/algebra/DIRPROD2.spad
src/algebra/DIRRING.spad
src/algebra/DISPLAY.spad
src/algebra/DIV.spad
src/algebra/DIVCAT.spad
src/algebra/DIVRING.spad
src/algebra/DLAGG.spad
src/algebra/DLIST.spad
src/algebra/DLP.spad
src/algebra/DMP.spad
src/algebra/DPMM.spad
src/algebra/DPMO.spad
src/algebra/DPOLCAT.spad
src/algebra/DQAGG.spad
src/algebra/DRAW.spad
src/algebra/DRAWCFUN.spad
src/algebra/DRAWCURV.spad
src/algebra/DRAWCX.spad
src/algebra/DRAWHACK.spad
src/algebra/DRAWPT.spad
src/algebra/DROPT.spad
src/algebra/DROPT0.spad
src/algebra/DROPT1.spad
src/algebra/DSMP.spad
src/algebra/DSTRCAT.spad
src/algebra/DSTREE.spad
src/algebra/DTP.spad
src/algebra/DVARCAT.spad
src/algebra/E04AGNT.spad
src/algebra/E04DGFA.spad
src/algebra/E04FDFA.spad
src/algebra/E04GCFA.spad
src/algebra/E04JAFA.spad
src/algebra/E04MBFA.spad
src/algebra/E04NAFA.spad
src/algebra/E04UCFA.spad
src/algebra/EAB.spad
src/algebra/EF.spad
src/algebra/EFSTRUC.spad
src/algebra/EFULS.spad
src/algebra/EFUPXS.spad
src/algebra/ELAGG.spad
src/algebra/ELEMFUN.spad
src/algebra/ELFUTS.spad
src/algebra/ELTAB.spad
src/algebra/ELTAGG.spad
src/algebra/EMR.spad
src/algebra/ENTIRER.spad
src/algebra/EP.spad
src/algebra/EQ.spad
src/algebra/EQ2.spad
src/algebra/EQTBL.spad
src/algebra/ERROR.spad
src/algebra/ES.spad
src/algebra/ES1.spad
src/algebra/ES2.spad
src/algebra/ESCONT.spad
src/algebra/ESCONT1.spad
src/algebra/ESTOOLS.spad
src/algebra/ESTOOLS1.spad
src/algebra/ESTOOLS2.spad
src/algebra/EUCDOM.spad
src/algebra/EVALAB.spad
src/algebra/EVALCYC.spad
src/algebra/EXIT.spad
src/algebra/EXP3D.spad
src/algebra/EXPEXPAN.spad
src/algebra/EXPR.spad
src/algebra/EXPR2.spad
src/algebra/EXPR2UPS.spad
src/algebra/EXPRODE.spad
src/algebra/EXPRSOL.spad
src/algebra/EXPRTUBE.spad
src/algebra/EXPUPXS.spad
src/algebra/FACTEXT.spad
src/algebra/FACTFUNC.spad
src/algebra/FACTRN.spad
src/algebra/FACUTIL.spad
src/algebra/FAGROUP.spad
src/algebra/FAMONC.spad
src/algebra/FAMONOID.spad
src/algebra/FAMR.spad
src/algebra/FAMR2.spad
src/algebra/FARRAY.spad
src/algebra/FAXF.spad
src/algebra/FC.spad
src/algebra/FCOMP.spad
src/algebra/FCPAK1.spad
src/algebra/FDIV.spad
src/algebra/FDIV2.spad
src/algebra/FDIVCAT.spad
src/algebra/FEVALAB.spad
src/algebra/FEXPR.spad
src/algebra/FF.spad
src/algebra/FFCAT.spad
src/algebra/FFCAT2.spad
src/algebra/FFCG.spad
src/algebra/FFCGP.spad
src/algebra/FFCGX.spad
src/algebra/FFF.spad
src/algebra/FFFACTOR.spad
src/algebra/FFFACTSE.spad
src/algebra/FFFG.spad
src/algebra/FFFGF.spad
src/algebra/FFHOM.spad
src/algebra/FFIELDC.spad
src/algebra/FFINTBAS.spad
src/algebra/FFNB.spad
src/algebra/FFNBP.spad
src/algebra/FFNBX.spad
src/algebra/FFP.spad
src/algebra/FFPOLY.spad
src/algebra/FFPOLY2.spad
src/algebra/FFSLPE.spad
src/algebra/FFSQFR.spad
src/algebra/FFX.spad
src/algebra/FGLMICPK.spad
src/algebra/FGROUP.spad
src/algebra/FIELD.spad
src/algebra/FILE.spad
src/algebra/FILECAT.spad
src/algebra/FINAALG.spad
src/algebra/FINITE.spad
src/algebra/FINRALG.spad
src/algebra/FLAGG.spad
src/algebra/FLAGG2.spad
src/algebra/FLALG.spad
src/algebra/FLASORT.spad
src/algebra/FLINEXP.spad
src/algebra/FLOAT.spad
src/algebra/FLOATCP.spad
src/algebra/FLOATRP.spad
src/algebra/FM.spad
src/algebra/FM1.spad
src/algebra/FMC.spad
src/algebra/FMCAT.spad
src/algebra/FMFUN.spad
src/algebra/FMONOID.spad
src/algebra/FMTC.spad
src/algebra/FNAME.spad
src/algebra/FNCAT.spad
src/algebra/FNLA.spad
src/algebra/FOP.spad
src/algebra/FORDER.spad
src/algebra/FORMULA.spad
src/algebra/FORMULA1.spad
src/algebra/FORT.spad
src/algebra/FORTCAT.spad
src/algebra/FORTFN.spad
src/algebra/FORTRAN.spad
src/algebra/FPARFRAC.spad
src/algebra/FPATMAB.spad
src/algebra/FPC.spad
src/algebra/FPS.spad
src/algebra/FR.spad
src/algebra/FR2.spad
src/algebra/FRAC.spad
src/algebra/FRAC2.spad
src/algebra/FRAMALG.spad
src/algebra/FRETRCT.spad
src/algebra/FRIDEAL.spad
src/algebra/FRIDEAL2.spad
src/algebra/FRMOD.spad
src/algebra/FRNAAF2.spad
src/algebra/FRNAALG.spad
src/algebra/FRUTIL.spad
src/algebra/FS.spad
src/algebra/FS2.spad
src/algebra/FS2EXPXP.spad
src/algebra/FS2UPS.spad
src/algebra/FSAGG.spad
src/algebra/FSAGG2.spad
src/algebra/FSCINT.spad
src/algebra/FSERIES.spad
src/algebra/FSFUN.spad
src/algebra/FSINT.spad
src/algebra/FSPECF.spad
src/algebra/FSPRMELT.spad
src/algebra/FSRED.spad
src/algebra/FST.spad
src/algebra/FSUPFACT.spad
src/algebra/FT.spad
src/algebra/FTEM.spad
src/algebra/FUNCTION.spad
src/algebra/FVC.spad
src/algebra/FVFUN.spad
src/algebra/GALFACT.spad
src/algebra/GALFACTU.spad
src/algebra/GALPOLYU.spad
src/algebra/GALUTIL.spad
src/algebra/GAUSSFAC.spad
src/algebra/GB.spad
src/algebra/GBEUCLID.spad
src/algebra/GBF.spad
src/algebra/GBINTERN.spad
src/algebra/GCDDOM.spad
src/algebra/GCNAALG.spad
src/algebra/GDMP.spad
src/algebra/GDRAW.spad
src/algebra/GENEEZ.spad
src/algebra/GENMFACT.spad
src/algebra/GENPGCD.spad
src/algebra/GENUFACT.spad
src/algebra/GENUPS.spad
src/algebra/GHENSEL.spad
src/algebra/GMODPOL.spad
src/algebra/GOPT.spad
src/algebra/GOPT0.spad
src/algebra/GOSPER.spad
src/algebra/GPAFF.spad
src/algebra/GPOLSET.spad
src/algebra/GRALG.spad
src/algebra/GRAPHVIZ.spad
src/algebra/GRAY.spad
src/algebra/GRDEF.spad
src/algebra/GRIMAGE.spad
src/algebra/GRMOD.spad
src/algebra/GROEBSOL.spad
src/algebra/GROUP.spad
src/algebra/GSERIES.spad
src/algebra/GSTBL.spad
src/algebra/GTSET.spad
src/algebra/GUESS.spad
src/algebra/GUESSAN.spad
src/algebra/GUESSF.spad
src/algebra/GUESSF1.spad
src/algebra/GUESSINT.spad
src/algebra/GUESSP.spad
src/algebra/GUESSUP.spad
src/algebra/HACKPI.spad
src/algebra/HASHTBL.spad
src/algebra/HB.spad
src/algebra/HDMP.spad
src/algebra/HDP.spad
src/algebra/HEAP.spad
src/algebra/HELLFDIV.spad
src/algebra/HEUGCD.spad
src/algebra/HEXADEC.spad
src/algebra/HOAGG.spad
src/algebra/HTMLFORM.spad
src/algebra/HYPCAT.spad
src/algebra/IALGFACT.spad
src/algebra/IAN.spad
src/algebra/IARRAY1.spad
src/algebra/IARRAY2.spad
src/algebra/IBACHIN.spad
src/algebra/IBATOOL.spad
src/algebra/IBITS.spad
src/algebra/IBPTOOLS.spad
src/algebra/ICARD.spad
src/algebra/ICDEN.spad
src/algebra/ICP.spad
src/algebra/IDEAL.spad
src/algebra/IDECOMP.spad
src/algebra/IDPAG.spad
src/algebra/IDPAM.spad
src/algebra/IDPC.spad
src/algebra/IDPO.spad
src/algebra/IDPOAM.spad
src/algebra/IDPOAMS.spad
src/algebra/IEVALAB.spad
src/algebra/IFAMON.spad
src/algebra/IFARRAY.spad
src/algebra/IFF.spad
src/algebra/IIARRAY2.spad
src/algebra/ILIST.spad
src/algebra/IMATLIN.spad
src/algebra/IMATQF.spad
src/algebra/IMATRIX.spad
src/algebra/INBFF.spad
src/algebra/INCRMAPS.spad
src/algebra/INDE.spad
src/algebra/INEP.spad
src/algebra/INFCLCT.spad
src/algebra/INFCLSPS.spad
src/algebra/INFCLSPT.spad
src/algebra/INFINITY.spad
src/algebra/INFORM.spad
src/algebra/INFORM1.spad
src/algebra/INFPROD0.spad
src/algebra/INFSP.spad
src/algebra/INMODGCD.spad
src/algebra/INNMFACT.spad
src/algebra/INPRODFF.spad
src/algebra/INPRODPF.spad
src/algebra/INPSIGN.spad
src/algebra/INS.spad
src/algebra/INT.spad
src/algebra/INTABL.spad
src/algebra/INTAF.spad
src/algebra/INTALG.spad
src/algebra/INTBIT.spad
src/algebra/INTCAT.spad
src/algebra/INTDIVP.spad
src/algebra/INTDOM.spad
src/algebra/INTEF.spad
src/algebra/INTERGB.spad
src/algebra/INTFACT.spad
src/algebra/INTFRSP.spad
src/algebra/INTFTBL.spad
src/algebra/INTG0.spad
src/algebra/INTHEORY.spad
src/algebra/INTHERAL.spad
src/algebra/INTHERTR.spad
src/algebra/INTPACK.spad
src/algebra/INTPAF.spad
src/algebra/INTPM.spad
src/algebra/INTRAT.spad
src/algebra/INTRET.spad
src/algebra/INTRF.spad
src/algebra/INTRVL.spad
src/algebra/INTSLPE.spad
src/algebra/INTTOOLS.spad
src/algebra/INTTR.spad
src/algebra/INVLAPLA.spad
src/algebra/IPADIC.spad
src/algebra/IPF.spad
src/algebra/IPRNTPK.spad
src/algebra/IR.spad
src/algebra/IR2.spad
src/algebra/IR2F.spad
src/algebra/IROOT.spad
src/algebra/IRREDFFX.spad
src/algebra/IRRF2F.spad
src/algebra/IRSN.spad
src/algebra/IRURPK.spad
src/algebra/ISTRING.spad
src/algebra/ISUMP.spad
src/algebra/ISUPS.spad
src/algebra/ITAYLOR.spad
src/algebra/ITFUN2.spad
src/algebra/ITFUN3.spad
src/algebra/ITRIGMNP.spad
src/algebra/ITUPLE.spad
src/algebra/IVECTOR.spad
src/algebra/IXAGG.spad
src/algebra/JORDAN.spad
src/algebra/KAFILE.spad
src/algebra/KDAGG.spad
src/algebra/KERNEL.spad
src/algebra/KERNEL2.spad
src/algebra/KOERCE.spad
src/algebra/KONVERT.spad
src/algebra/KOVACIC.spad
src/algebra/LA.spad
src/algebra/LALG.spad
src/algebra/LAPLACE.spad
src/algebra/LAUPOL.spad
src/algebra/LAZM3PK.spad
src/algebra/LEADCDET.spad
src/algebra/LEXP.spad
src/algebra/LEXTRIPK.spad
src/algebra/LF.spad
src/algebra/LFCAT.spad
src/algebra/LGROBP.spad
src/algebra/LIB.spad
src/algebra/LIE.spad
src/algebra/LIECAT.spad
src/algebra/LIMITPS.spad
src/algebra/LIMITRF.spad
src/algebra/LINDEP.spad
src/algebra/LINEXP.spad
src/algebra/LIST.spad
src/algebra/LIST2.spad
src/algebra/LIST2MAP.spad
src/algebra/LIST3.spad
src/algebra/LISYSER.spad
src/algebra/LMDICT.spad
src/algebra/LMODULE.spad
src/algebra/LMOPS.spad
src/algebra/LNAGG.spad
src/algebra/LO.spad
src/algebra/LOCPOWC.spad
src/algebra/LODEEF.spad
src/algebra/LODO.spad
src/algebra/LODO1.spad
src/algebra/LODO2.spad
src/algebra/LODOCAT.spad
src/algebra/LODOF.spad
src/algebra/LODOOPS.spad
src/algebra/LOGIC.spad
src/algebra/LOP.spad
src/algebra/LORER.spad
src/algebra/LPARSPT.spad
src/algebra/LPEFRAC.spad
src/algebra/LPOLY.spad
src/algebra/LSAGG.spad
src/algebra/LSMP.spad
src/algebra/LSMP1.spad
src/algebra/LSPP.spad
src/algebra/LSQM.spad
src/algebra/LWORD.spad
src/algebra/LZSTAGG.spad
src/algebra/M3D.spad
src/algebra/MAGCDOC.spad
src/algebra/MAGMA.spad
src/algebra/MAMA.spad
src/algebra/MAPHACK1.spad
src/algebra/MAPHACK2.spad
src/algebra/MAPHACK3.spad
src/algebra/MAPPKG1.spad
src/algebra/MAPPKG2.spad
src/algebra/MAPPKG3.spad
src/algebra/MAPPKG4.spad
src/algebra/MATCAT.spad
src/algebra/MATCAT2.spad
src/algebra/MATLIN.spad
src/algebra/MATRIX.spad
src/algebra/MATSTOR.spad
src/algebra/MCALCFN.spad
src/algebra/MCDEN.spad
src/algebra/MCMPLX.spad
src/algebra/MDAGG.spad
src/algebra/MDDFACT.spad
src/algebra/MESH.spad
src/algebra/MFINFACT.spad
src/algebra/MFLOAT.spad
src/algebra/MHROWRED.spad
src/algebra/MINT.spad
src/algebra/MKBCFUNC.spad
src/algebra/MKCHSET.spad
src/algebra/MKFLCFN.spad
src/algebra/MKFUNC.spad
src/algebra/MKRECORD.spad
src/algebra/MKUCFUNC.spad
src/algebra/MLIFT.spad
src/algebra/MLO.spad
src/algebra/MMAP.spad
src/algebra/MMLFORM.spad
src/algebra/MODFIELD.spad
src/algebra/MODMON.spad
src/algebra/MODMONOM.spad
src/algebra/MODOP.spad
src/algebra/MODRING.spad
src/algebra/MODULE.spad
src/algebra/MOEBIUS.spad
src/algebra/MONAD.spad
src/algebra/MONADWU.spad
src/algebra/MONOGEN.spad
src/algebra/MONOID.spad
src/algebra/MONOTOOL.spad
src/algebra/MPC2.spad
src/algebra/MPC3.spad
src/algebra/MPCPF.spad
src/algebra/MPOLY.spad
src/algebra/MPRFF.spad
src/algebra/MRATFAC.spad
src/algebra/MRF2.spad
src/algebra/MRING.spad
src/algebra/MSET.spad
src/algebra/MSETAGG.spad
src/algebra/MSYSCMD.spad
src/algebra/MTHING.spad
src/algebra/MTSCAT.spad
src/algebra/MULTFACT.spad
src/algebra/MULTSQFR.spad
src/algebra/MYEXPR.spad
src/algebra/MYUP.spad
src/algebra/Makefile
src/algebra/NAALG.spad
src/algebra/NAGC02.spad
src/algebra/NAGC05.spad
src/algebra/NAGC06.spad
src/algebra/NAGD01.spad
src/algebra/NAGD02.spad
src/algebra/NAGD03.spad
src/algebra/NAGE01.spad
src/algebra/NAGE02.spad
src/algebra/NAGE04.spad
src/algebra/NAGF01.spad
src/algebra/NAGF02.spad
src/algebra/NAGF04.spad
src/algebra/NAGF07.spad
src/algebra/NAGS.spad
src/algebra/NAGSP.spad
src/algebra/NARNG.spad
src/algebra/NASRING.spad
src/algebra/NCEP.spad
src/algebra/NCNTFRAC.spad
src/algebra/NCODIV.spad
src/algebra/NEWTON.spad
src/algebra/NFINTBAS.spad
src/algebra/NIPROB.spad
src/algebra/NLINSOL.spad
src/algebra/NNI.spad
src/algebra/NODE1.spad
src/algebra/NONE.spad
src/algebra/NONE1.spad
src/algebra/NORMMA.spad
src/algebra/NORMPK.spad
src/algebra/NORMRETR.spad
src/algebra/NOTTING.spad
src/algebra/NPCOEF.spad
src/algebra/NPOLYGON.spad
src/algebra/NREP.spad
src/algebra/NSDPS.spad
src/algebra/NSMP.spad
src/algebra/NSUP.spad
src/algebra/NSUP2.spad
src/algebra/NTPOLFN.spad
src/algebra/NTSCAT.spad
src/algebra/NUMERIC.spad
src/algebra/NUMFMT.spad
src/algebra/NUMINT.spad
src/algebra/NUMODE.spad
src/algebra/NUMQUAD.spad
src/algebra/NUMTUBE.spad
src/algebra/OAGROUP.spad
src/algebra/OAMON.spad
src/algebra/OAMONS.spad
src/algebra/OASGP.spad
src/algebra/OC.spad
src/algebra/OCAMON.spad
src/algebra/OCT.spad
src/algebra/OCTCT2.spad
src/algebra/ODECAT.spad
src/algebra/ODECONST.spad
src/algebra/ODEEF.spad
src/algebra/ODEIFTBL.spad
src/algebra/ODEINT.spad
src/algebra/ODEPACK.spad
src/algebra/ODEPAL.spad
src/algebra/ODEPRIM.spad
src/algebra/ODEPROB.spad
src/algebra/ODEPRRIC.spad
src/algebra/ODERAT.spad
src/algebra/ODERED.spad
src/algebra/ODERTRIC.spad
src/algebra/ODESYS.spad
src/algebra/ODETOOLS.spad
src/algebra/ODP.spad
src/algebra/ODPOL.spad
src/algebra/ODR.spad
src/algebra/ODVAR.spad
src/algebra/OFMONOID.spad
src/algebra/OINTDOM.spad
src/algebra/OM.spad
src/algebra/OMCONN.spad
src/algebra/OMDEV.spad
src/algebra/OMENC.spad
src/algebra/OMERR.spad
src/algebra/OMERRK.spad
src/algebra/OMEXPR.spad
src/algebra/OMLO.spad
src/algebra/OMPKG.spad
src/algebra/OMSAGG.spad
src/algebra/OMSERVER.spad
src/algebra/ONECOMP.spad
src/algebra/ONECOMP2.spad
src/algebra/OP.spad
src/algebra/OPQUERY.spad
src/algebra/OPTCAT.spad
src/algebra/OPTPACK.spad
src/algebra/OPTPROB.spad
src/algebra/ORDCOMP.spad
src/algebra/ORDCOMP2.spad
src/algebra/ORDFIN.spad
src/algebra/ORDFUNS.spad
src/algebra/ORDMON.spad
src/algebra/ORDRING.spad
src/algebra/ORDSET.spad
src/algebra/OREPCAT.spad
src/algebra/OREPCTO.spad
src/algebra/ORESUP.spad
src/algebra/OREUP.spad
src/algebra/ORTHPOL.spad
src/algebra/OSI.spad
src/algebra/OUT.spad
src/algebra/OUTFORM.spad
src/algebra/OVAR.spad
src/algebra/OWP.spad
src/algebra/PACEXT.spad
src/algebra/PACEXTC.spad
src/algebra/PACFFC.spad
src/algebra/PACOFF.spad
src/algebra/PACPERC.spad
src/algebra/PACRAT.spad
src/algebra/PACRATC.spad
src/algebra/PADE.spad
src/algebra/PADEPAC.spad
src/algebra/PADIC.spad
src/algebra/PADICCT.spad
src/algebra/PADICRAT.spad
src/algebra/PADICRC.spad
src/algebra/PAFF.spad
src/algebra/PAFFFF.spad
src/algebra/PALETTE.spad
src/algebra/PAN2EXPR.spad
src/algebra/PARAMP.spad
src/algebra/PARPC2.spad
src/algebra/PARPCURV.spad
src/algebra/PARSC2.spad
src/algebra/PARSCURV.spad
src/algebra/PARSU2.spad
src/algebra/PARSURF.spad
src/algebra/PARTPERM.spad
src/algebra/PATAB.spad
src/algebra/PATLRES.spad
src/algebra/PATMAB.spad
src/algebra/PATMATCH.spad
src/algebra/PATRES.spad
src/algebra/PATRES2.spad
src/algebra/PATTERN.spad
src/algebra/PATTERN1.spad
src/algebra/PATTERN2.spad
src/algebra/PBWLB.spad
src/algebra/PCOMP.spad
src/algebra/PDECAT.spad
src/algebra/PDECOMP.spad
src/algebra/PDEPACK.spad
src/algebra/PDEPROB.spad
src/algebra/PDRING.spad
src/algebra/PENDTREE.spad
src/algebra/PERM.spad
src/algebra/PERMAN.spad
src/algebra/PERMCAT.spad
src/algebra/PERMGRP.spad
src/algebra/PF.spad
src/algebra/PFBR.spad
src/algebra/PFBRU.spad
src/algebra/PFECAT.spad
src/algebra/PFO.spad
src/algebra/PFOQ.spad
src/algebra/PFORP.spad
src/algebra/PFOTOOLS.spad
src/algebra/PFR.spad
src/algebra/PFRPAC.spad
src/algebra/PGCD.spad
src/algebra/PGE.spad
src/algebra/PGROEB.spad
src/algebra/PI.spad
src/algebra/PICOERCE.spad
src/algebra/PID.spad
src/algebra/PINTERP.spad
src/algebra/PINTERPA.spad
src/algebra/PLACES.spad
src/algebra/PLACESC.spad
src/algebra/PLACESPS.spad
src/algebra/PLCS.spad
src/algebra/PLEQN.spad
src/algebra/PLOT.spad
src/algebra/PLOT1.spad
src/algebra/PLOT3D.spad
src/algebra/PLOTTOOL.spad
src/algebra/PLPKCRV.spad
src/algebra/PMASS.spad
src/algebra/PMASSFS.spad
src/algebra/PMDOWN.spad
src/algebra/PMFS.spad
src/algebra/PMINS.spad
src/algebra/PMKERNEL.spad
src/algebra/PMLSAGG.spad
src/algebra/PMPLCAT.spad
src/algebra/PMPRED.spad
src/algebra/PMPREDFS.spad
src/algebra/PMQFCAT.spad
src/algebra/PMSYM.spad
src/algebra/PMTOOLS.spad
src/algebra/PNTHEORY.spad
src/algebra/POINT.spad
src/algebra/POLTOPOL.spad
src/algebra/POLUTIL.spad
src/algebra/POLY.spad
src/algebra/POLY2.spad
src/algebra/POLY2UP.spad
src/algebra/POLYCAT.spad
src/algebra/POLYCATQ.spad
src/algebra/POLYLIFT.spad
src/algebra/POLYROOT.spad
src/algebra/POLYVEC.spad
src/algebra/PPCURVE.spad
src/algebra/PR.spad
src/algebra/PREASSOC.spad
src/algebra/PRIMARR.spad
src/algebra/PRIMARR2.spad
src/algebra/PRIMCAT.spad
src/algebra/PRIMELT.spad
src/algebra/PRIMES.spad
src/algebra/PRINT.spad
src/algebra/PRJALGPK.spad
src/algebra/PRODUCT.spad
src/algebra/PROJPL.spad
src/algebra/PROJPLPS.spad
src/algebra/PROJSP.spad
src/algebra/PRQAGG.spad
src/algebra/PRS.spad
src/algebra/PRSPCAT.spad
src/algebra/PRTITION.spad
src/algebra/PSCAT.spad
src/algebra/PSCURVE.spad
src/algebra/PSETCAT.spad
src/algebra/PSETPK.spad
src/algebra/PSEUDLIN.spad
src/algebra/PSQFR.spad
src/algebra/PTCAT.spad
src/algebra/PTFUNC2.spad
src/algebra/PTPACK.spad
src/algebra/PTRANFN.spad
src/algebra/PUSHVAR.spad
src/algebra/PWFFINTB.spad
src/algebra/QALGSET.spad
src/algebra/QALGSET2.spad
src/algebra/QCMPACK.spad
src/algebra/QEQUAT.spad
src/algebra/QFCAT.spad
src/algebra/QFCAT2.spad
src/algebra/QFORM.spad
src/algebra/QUAGG.spad
src/algebra/QUAT.spad
src/algebra/QUATCAT.spad
src/algebra/QUATCT2.spad
src/algebra/QUEUE.spad
src/algebra/RADCAT.spad
src/algebra/RADFF.spad
src/algebra/RADIX.spad
src/algebra/RADUTIL.spad
src/algebra/RANDSRC.spad
src/algebra/RATFACT.spad
src/algebra/RATRET.spad
src/algebra/RCAGG.spad
src/algebra/RCFIELD.spad
src/algebra/RDEEF.spad
src/algebra/RDEEFS.spad
src/algebra/RDETR.spad
src/algebra/RDETRS.spad
src/algebra/RDIST.spad
src/algebra/RDIV.spad
src/algebra/REAL.spad
src/algebra/REAL0.spad
src/algebra/REAL0Q.spad
src/algebra/REALSOLV.spad
src/algebra/RECLOS.spad
src/algebra/RECOP.spad
src/algebra/REDORDER.spad
src/algebra/REF.spad
src/algebra/REGSET.spad
src/algebra/REP.spad
src/algebra/REP1.spad
src/algebra/REP2.spad
src/algebra/REPDB.spad
src/algebra/REPSQ.spad
src/algebra/RESLATC.spad
src/algebra/RESRING.spad
src/algebra/RESULT.spad
src/algebra/RETRACT.spad
src/algebra/RETSOL.spad
src/algebra/RF.spad
src/algebra/RFDIST.spad
src/algebra/RFFACT.spad
src/algebra/RFFACTOR.spad
src/algebra/RFP.spad
src/algebra/RGCHAIN.spad
src/algebra/RIDIST.spad
src/algebra/RING.spad
src/algebra/RINTERP.spad
src/algebra/RMATCAT.spad
src/algebra/RMATRIX.spad
src/algebra/RMCAT2.spad
src/algebra/RMODULE.spad
src/algebra/RNG.spad
src/algebra/RNS.spad
src/algebra/ROIRC.spad
src/algebra/ROMAN.spad
src/algebra/ROUTINE.spad
src/algebra/RPOLCAT.spad
src/algebra/RRCC.spad
src/algebra/RSDCMPK.spad
src/algebra/RSETCAT.spad
src/algebra/RSETGCD.spad
src/algebra/RULE.spad
src/algebra/RULECOLD.spad
src/algebra/RULESET.spad
src/algebra/RURPK.spad
src/algebra/SAE.spad
src/algebra/SAEFACT.spad
src/algebra/SAERFFC.spad
src/algebra/SAOS.spad
src/algebra/SCACHE.spad
src/algebra/SCELL.spad
src/algebra/SCPKG.spad
src/algebra/SD.spad
src/algebra/SDPOL.spad
src/algebra/SDVAR.spad
src/algebra/SEG.spad
src/algebra/SEG2.spad
src/algebra/SEGBIND.spad
src/algebra/SEGBIND2.spad
src/algebra/SEGCAT.spad
src/algebra/SEGXCAT.spad
src/algebra/SEM.spad
src/algebra/SET.spad
src/algebra/SETAGG.spad
src/algebra/SETCAT.spad
src/algebra/SETCATD.spad
src/algebra/SETMN.spad
src/algebra/SEX.spad
src/algebra/SEXCAT.spad
src/algebra/SEXOF.spad
src/algebra/SFORT.spad
src/algebra/SFQCMPK.spad
src/algebra/SFRGCD.spad
src/algebra/SFRTCAT.spad
src/algebra/SGCF.spad
src/algebra/SGROUP.spad
src/algebra/SHDP.spad
src/algebra/SHP.spad
src/algebra/SIGNEF.spad
src/algebra/SIGNRF.spad
src/algebra/SIMPAN.spad
src/algebra/SINT.spad
src/algebra/SKAGG.spad
src/algebra/SMATCAT.spad
src/algebra/SMITH.spad
src/algebra/SMP.spad
src/algebra/SMTS.spad
src/algebra/SNTSCAT.spad
src/algebra/SOLVEFOR.spad
src/algebra/SOLVERAD.spad
src/algebra/SOLVESER.spad
src/algebra/SOLVETRA.spad
src/algebra/SORTPAK.spad
src/algebra/SPACE3.spad
src/algebra/SPACEC.spad
src/algebra/SPECOUT.spad
src/algebra/SPFCAT.spad
src/algebra/SPLNODE.spad
src/algebra/SPLTREE.spad
src/algebra/SQMATRIX.spad
src/algebra/SRAGG.spad
src/algebra/SRDCMPK.spad
src/algebra/SREGSET.spad
src/algebra/STACK.spad
src/algebra/STAGG.spad
src/algebra/STBL.spad
src/algebra/STEP.spad
src/algebra/STINPROD.spad
src/algebra/STNSR.spad
src/algebra/STREAM.spad
src/algebra/STREAM1.spad
src/algebra/STREAM2.spad
src/algebra/STREAM3.spad
src/algebra/STRICAT.spad
src/algebra/STRING.spad
src/algebra/STRTBL.spad
src/algebra/STTAYLOR.spad
src/algebra/STTF.spad
src/algebra/STTFNC.spad
src/algebra/SUBRESP.spad
src/algebra/SUBSPACE.spad
src/algebra/SUCH.spad
src/algebra/SULS.spad
src/algebra/SUMFS.spad
src/algebra/SUMRF.spad
src/algebra/SUP.spad
src/algebra/SUP2.spad
src/algebra/SUPEXPR.spad
src/algebra/SUPFRACF.spad
src/algebra/SUPXS.spad
src/algebra/SUTS.spad
src/algebra/SWITCH.spad
src/algebra/SYMBOL.spad
src/algebra/SYMFUNC.spad
src/algebra/SYMPOLY.spad
src/algebra/SYMS.spad
src/algebra/SYMTAB.spad
src/algebra/SYSSOLP.spad
src/algebra/TABLBUMP.spad
src/algebra/TABLE.spad
src/algebra/TABLEAU.spad
src/algebra/TANEXP.spad
src/algebra/TBAGG.spad
src/algebra/TBCMPPK.spad
src/algebra/TEMUTL.spad
src/algebra/TEX.spad
src/algebra/TEX1.spad
src/algebra/TEXTFILE.spad
src/algebra/TOOLSIGN.spad
src/algebra/TOPSP.spad
src/algebra/TRANFUN.spad
src/algebra/TREE.spad
src/algebra/TRIGCAT.spad
src/algebra/TRIGMNIP.spad
src/algebra/TRIMAT.spad
src/algebra/TRMANIP.spad
src/algebra/TS.spad
src/algebra/TSETCAT.spad
src/algebra/TUBE.spad
src/algebra/TUBETOOL.spad
src/algebra/TUPLE.spad
src/algebra/TWOFACT.spad
src/algebra/TYPE.spad
src/algebra/U16MAT.spad
src/algebra/U16VEC.spad
src/algebra/U32MAT.spad
src/algebra/U32VEC.spad
src/algebra/U8MAT.spad
src/algebra/U8VEC.spad
src/algebra/UDPO.spad
src/algebra/UDVO.spad
src/algebra/UFD.spad
src/algebra/UFPS.spad
src/algebra/UFPS1.spad
src/algebra/ULS.spad
src/algebra/ULS2.spad
src/algebra/ULSCAT.spad
src/algebra/ULSCCAT.spad
src/algebra/ULSCONS.spad
src/algebra/UNIFACT.spad
src/algebra/UNISEG.spad
src/algebra/UNISEG2.spad
src/algebra/UP.spad
src/algebra/UP2.spad
src/algebra/UPCDEN.spad
src/algebra/UPDECOMP.spad
src/algebra/UPDIVP.spad
src/algebra/UPMP.spad
src/algebra/UPOLYC.spad
src/algebra/UPOLYC2.spad
src/algebra/UPSCAT.spad
src/algebra/UPSQFREE.spad
src/algebra/UPXS.spad
src/algebra/UPXS2.spad
src/algebra/UPXSCAT.spad
src/algebra/UPXSCCA.spad
src/algebra/UPXSCONS.spad
src/algebra/UPXSSING.spad
src/algebra/URAGG.spad
src/algebra/UTS.spad
src/algebra/UTS2.spad
src/algebra/UTSCAT.spad
src/algebra/UTSODE.spad
src/algebra/UTSODETL.spad
src/algebra/UTSSOL.spad
src/algebra/UTSZ.spad
src/algebra/VARIABLE.spad
src/algebra/VECTCAT.spad
src/algebra/VECTOR.spad
src/algebra/VECTOR2.spad
src/algebra/VIEW.spad
src/algebra/VIEW2D.spad
src/algebra/VIEW3D.spad
src/algebra/VIEWDEF.spad
src/algebra/VOID.spad
src/algebra/VSPACE.spad
src/algebra/WEIER.spad
src/algebra/WFFINTBS.spad
src/algebra/WP.spad
src/algebra/WUTSET.spad
src/algebra/XALG.spad
src/algebra/XDPOLY.spad
src/algebra/XEXPPKG.spad
src/algebra/XF.spad
src/algebra/XFALG.spad
src/algebra/XPBWPOLY.spad
src/algebra/XPOLY.spad
src/algebra/XPOLYC.spad
src/algebra/XPR.spad
src/algebra/XRPOLY.spad
src/algebra/YSTREAM.spad
src/algebra/ZDSOLVE.spad
src/algebra/ZLINDEP.spad
src/algebra/ZMOD.spad
src/algebra/bookvol10.2.pamphlet
src/algebra/bookvol10.3.pamphlet
src/algebra/bookvol10.4.pamphlet
src/algebra/bookvol10.5.pamphlet
src/axiom.sty
src/etc/Makefile
src/etc/Makefile.dvi
src/etc/Makefile.pdf
src/etc/axiom.sty
src/input/Makefile
src/input/Makefile.dvi
src/input/Makefile.pdf
src/input/axiom.sty
src/interp/Makefile
src/interp/Makefile.dvi
src/interp/Makefile.pdf
src/interp/axiom.sty
src/interp/bookvol10.5.pamphlet
src/interp/bookvol5.pamphlet
src/interp/bookvol9.pamphlet
src/share/Makefile
src/share/Makefile.dvi
src/share/Makefile.pdf
src/share/axiom.sty